/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.btn {
  height: 32px;
  padding: 8px;
  border-radius: 80px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: rtl;
  text-align: center;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
}
.btn.two-sides {
  justify-content: space-between;
}
.btn.medium {
  height: 40px;
  border-radius: 80px;
  padding: 11.5px;
}
.btn.large {
  height: 50px;
  padding: 16.5px;
}
.btn.disable {
  opacity: 0.4;
}
.btn.stretch {
  width: 100%;
  box-sizing: border-box;
}

.dark.fill {
  border-color: #000000;
  background-color: #000000;
  color: #FDFDFD;
}
.dark.outline {
  border-color: #000000;
  color: #000000;
  background-color: transparent;
}
.dark.text {
  border: none !important;
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
}

.infra-red.outline {
  border-color: #DF2040;
  color: #DF2040;
  background-color: #FFFFFF;
}
.infra-red.fill {
  border-color: #DF2040;
  color: #FFFFFF;
  background-color: #DF2040;
}

.oil.fill {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  color: #FDFDFD;
}
.oil.outline {
  border-color: #242424;
  color: #525252;
  background-color: transparent;
}
.oil.text {
  border: none !important;
  color: #525252;
  background-color: transparent;
  text-decoration: underline;
}

.sun.outline {
  border-color: #EBB513;
  color: #EBB513;
  background-color: transparent;
}

@font-face {
  font-family: "IranYekanLight";
  src: url("/assets/fonts/IRANYekanMobileLight.ttf") format("truetype"), url("/assets/fonts/iranyekanweblightfanum.woff") format("woff");
}
@font-face {
  font-family: "IranYekanRegular";
  src: url("/assets/fonts/IRANYekanMobileRegular.ttf") format("truetype"), url("/assets/fonts/iranyekanwebregularfanum.woff") format("woff");
}
@font-face {
  font-family: "IranYekanBold";
  src: url("/assets/fonts/IRANYekanMobileBold.ttf") format("truetype"), url("/assets/fonts/iranyekanwebboldfanum.woff") format("woff");
}
.t-black, .regular-14-black, .bold-14-black {
  color: #242424;
}

.t-dim {
  color: #525252;
}

.t-disable, .light-12-disable, .regular-14-disable {
  color: #808080;
}

.t-error {
  color: #DF2040;
}

.t-white {
  color: #FFFFFF;
}

.t-oil1 {
  color: #FDFDFD;
}

.t-light, .light-12-disable {
  font-family: IranYekanLight;
  font-weight: 300;
}

.t-regular, .regular-14-disable, .regular-14-black {
  font-family: IranYekanRegular;
  font-weight: 400;
}

.t-bold, .bold-14-black {
  font-family: IranYekanBold;
  font-weight: 700;
}

.t48 {
  font-size: 50px;
}

.t32 {
  font-size: 34px;
}

.t24 {
  font-size: 26px;
}

.t18 {
  font-size: 20px;
}

.t16 {
  font-size: 18px;
}

.t14, .regular-14-disable, .regular-14-black, .bold-14-black {
  font-size: 16px;
}

.t12, .light-12-disable {
  font-size: 14px;
}

.t10 {
  font-size: 12px;
}

.s-m16 {
  margin: 16px;
}

.s-ml6 {
  margin-left: 6px;
}

.s-ml8 {
  margin-left: 8px;
}

.s-ml12 {
  margin-left: 12px;
}

.s-mr8 {
  margin-right: 8px;
}

.s-mr12 {
  margin-right: 12px;
}

.s-mt12 {
  margin-top: 12px;
}

.s-mt16 {
  margin-top: 16px;
}

.s-mt20 {
  margin-top: 20px;
}

.s-mb16 {
  margin-bottom: 16px;
}

.s-mb6 {
  margin-bottom: 6px;
}

.s-p16 {
  padding: 16px;
}

.s-pl16, .s-psides16 {
  padding-left: 16px;
}

.s-pr16, .s-psides16 {
  padding-right: 16px;
}

.s-pb16 {
  padding-bottom: 16px;
}

.s-pt16 {
  padding-top: 16px;
}

.s-p12 {
  padding: 12px;
}

.s-pt12, .s-ptopdown12 {
  padding-top: 12px;
}

.s-pb12, .s-ptopdown12 {
  padding-bottom: 12px;
}

.s-pl8 {
  padding-left: 8px;
}

.s-pl5 {
  padding-left: 5px;
}

.s-pr5 {
  padding-right: 5px;
}

.s-w100p {
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: none;
  overflow: hidden;
}

.hide {
  display: none !important;
}

.unseen {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
}

.no-padding {
  padding: 0 !important;
}

/*# sourceMappingURL=styles.css.map*/